.feedRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
}

.controlFeed {
  padding: 20px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  width: 250px;
}

.bigFeedSym {
  font-size: 20px;
  margin: 0 10px 10px 0;
}

.smallFeedIntro {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 9px;
}

.bigFeedData {
  font-size: 40px;
}

.line-break {
  width: 100%
}

.lineChart {
  width: 200px !important;
  height: 200px !important;
}

.smallChart {
  width: 100px !important;
  height: 100px !important;
}

#feedfac {
  table-layout: fixed;
  width: 130px;
}

#eventLog {
  width: 250px;
  font-size: 9px;
  display: inline-block;
  letter-spacing: 2px;
  height: 302px;
  overflow: auto;
}

#eventLog ul {
  padding: 0 15px;
  list-style: '- ';
}

#eventLog li {
  margin: 10px 0;
}

#eventLog .warning {
  color: red
}

#dnaContainer {
  height: 110px;
  width: 500px;
  margin: 10px auto;
  margin-bottom: 0;
}

#dnaWrap {
  margin: 15px;
  padding-bottom: 5px;
  cursor: pointer;
  width: 600px;
  border-left: 3px solid #333333;
  background-size: 12px 14.1px;
  background-image: linear-gradient(to right, #2b2b2b 1px, transparent 1px), linear-gradient(to bottom, #2b2b2b 1px, transparent 1px);
}

#dnaData {
  margin: 10px;
  font-size: 10px;
  color: rgb(var(--defaultTextRGB), 0.4)
}

/*Credit: https://codepen.io/deineko/pen/jrmmoQ*/
.feedItem {
  color: #a5a5a5;
  background: 0 0;
  border: 1px solid #5a5a5a;
  margin: 1.5em 1em;
  padding: .5em 1em;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: block;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 17px;
}

.feedItem:before,
.feedItem:after {
  content: "";
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}

.feedItem:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

.feedItem:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.feedItem:hover:before,
.feedItem:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
}

.feedItem:hover {
  color: #ffffff;
  background: #d6d6d66b url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
  border-color: #fff;
}
