@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --defaultTheme: #f5d546;
  --defaultThemeRGB: 245, 213, 70;
  --defaultText: #ffffff;
  --defaultTextRGB: 255, 255, 255;
  --defaultContrast: #111111;
  --defaultBackground: #1e1e1e;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--defaultText);
  margin: 0;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  line-height: 20px;
  overflow-y: scroll;
  letter-spacing: 1px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  word-wrap: break-word;
}

#openingLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*theme styles*/
.resetTheme, .saveCloudTheme {
  margin-bottom: 0 !important
}

.colorPicker {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  border-radius: 100px;
  background: none;
  margin: 20px;
  outline: none;
  cursor: pointer;
}

.colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

.colorPicker {
  border-radius: 4px;
  border: none;
  display: block;
}

body::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar *, body::-webkit-scrollbar * {
  background: transparent;
}

body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: transparent;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(var(--defaultTextRGB), 0.5);
}

#loadOverlay {
  display: none;
}

#opening {
  width: 80%;
  margin: auto !important;
  word-wrap: normal;
  text-align: center;
  padding: 3%;
}

#BottomTitleOpening {
  font-size: 14px !important;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border-top: 1px solid var(--defaultText) !important;
  border-bottom: 1px solid var(--defaultText) !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  margin: auto;
  color: var(--defaultText) !important;
}

#openingContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  margin: auto;
}

#opening h1 {
  background: none;
  border: none;
  color: var(--defaultText);
  text-align: center;
  text-transform: none;
  margin-bottom: 0;
}

#opening h2 {
  background: none;
  border: none;
  color: var(--defaultText);
  text-align: center;
  font-size: 18.72px;
}

blockquote {
  margin: 5px 0 0 30px;
}

p:not(.profile p), .wiki-content-table {
  color: var(--defaultText);
}

.highlight, .obj-text {
  color: var(--defaultTheme) !important;
}

.redLabels {
  letter-spacing: 3px;
  text-transform: uppercase;
  border-top: 1px solid #ea3546;
  border-bottom: 1px solid #ea3546;
  color: #ea3546;
  padding: 1px 5px;
  margin: 10px;
  line-height: 3;
}

.codePageStyle {
  font-smooth: never;
  -webkit-font-smoothing: none;
}

/* help box */
.helpList {
  list-style-type: decimal;
}

.helpList li {
  border-bottom: 0.5px solid rgba(var(--defaultTextRGB), .5);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.helpAccess {
  border: 1px solid var(--defaultTheme) !important;
  padding: 15px;
  border-radius: 5px;
  background: rgba(var(--defaultThemeRGB), .05);
  margin: 5px !important;
}

.helpBlock {
  max-width: 600px;
  margin: auto;
}

@media screen and (max-width:404px) {
  .helpBlock {
    background: none;
    padding: 0;
  }

  .helpList {
    list-style-type: none;
    padding-left: 9px;
  }
}

@media screen and (max-width:349px) {
  .styleh3 {
    font-size: 14px
  }
}

/* titles */
h1, h3, .top-left-box {
  background-color: var(--defaultTheme);
  color: var(--defaultContrast);
  letter-spacing: 2px;
  border: 1px var(--defaultTheme) solid;
  border-radius: 5px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 1;
  padding: 15px;
  margin: 15px;
  transition: 100ms all ease-out;
}

.styleh3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  padding: 5px 10px;
  margin: 15px auto;
  font-weight: lighter;
  box-shadow: 11px -9px 0 #000;
}

h1, .top-left-box {
  font-size: 32px;
}

h3 {
  font-size: 18.72px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 3px;
}

h1, p {
  font-weight: 500;
}

.profile h3 {
  margin: 0 0 15px 0
}

/*access*/
blockquote, div:not(.collapsible-block-folded, .collapsible-block-unfolded-link, .collapsible-block-unfolded), span {
  overflow-y: hidden;
}

.accessPage blockquote .scp-image-block {
  background: none
}

.infoCard {
  text-align: center;
}

li {
  line-height: 14px;
  margin: 5px;
}

a:not(.image-box-link), .listClass li {
  color: var(--defaultTheme);
  margin: 5px;
}

a:not(.image-box-link):hover, .listClass li:hover, ele-access {
  background: var(--defaultTheme);
  color: var(--defaultContrast);
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.image-box-link {
  cursor: pointer;
}

.listClass li:hover {
  /*to add background for the bullet point*/
  box-shadow: -2em 0 var(--defaultTheme);
}

.disabledList {
  background: var(--defaultTheme);
  color: var(--defaultContrast);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  box-shadow: -2em 0 var(--defaultTheme);
  opacity: 0.7;
}

.collapsible-block-folded, .collapsible-block-unfolded-link {
  cursor: default;
  line-height: 14px;
  margin: 5px;
}

.collapsible-block-folded, .collapsible-block-unfolded-link, .foldable-list-container a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  word-break: break-all;
}

.listClass li, .collapsible-block-folded, .collapsible-block-unfolded-link, .foldable-list-container a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*profile*/
.profile {
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  width: 60%;
  margin: auto;
  background: linear-gradient(to right, var(--defaultTheme) 2.5px, transparent 2.5px) 0 0,
    linear-gradient(to right, var(--defaultTheme) 2.5px, transparent 2.5px) 0 100%,
    linear-gradient(to left, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 0,
    linear-gradient(to left, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 100%,
    linear-gradient(to bottom, var(--defaultTheme) 2.5px, transparent 2.5px) 0 0,
    linear-gradient(to bottom, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 0,
    linear-gradient(to top, var(--defaultTheme) 2.5px, transparent 2.5px) 0 100%,
    linear-gradient(to top, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 100%, rgb(78 78 78 / 21%);
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
  padding: 30px;
}

.profile small {
  opacity: 0.7;
}

.profile .highlight {
  word-wrap: break-word;
}

.profilePic {
  background: rgb(245, 213, 70, 0.5);
}

.upload {
  background: grey;
  opacity: 0.7;
  width: 200px;
  height: 228px;
  margin: 90px 30px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
  padding: 15px;
  line-height: 1.5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.file_upload {
  opacity: 0.0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0.0;
  -khtml-opacity: 0.0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.profilePic {
  width: 200px;
  height: 228px;
  margin: 30px;
  margin-top: 90px;
  float: right;
}

.profileData {
  margin: 0 0 0 5px;
}

.editingPfp {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  margin: 30px auto !important;
}

.editingPfp .profilePic {
  float: none !important;
  margin: 0 !important;
}

.upload:hover {
  opacity: 0.5;
}

.upload small {
  font-size: 9px;
}

/*fun*/
.errorCmd {
  color: red;
  font-size: 24px;
  word-break: break-all;
}

div.codePageStyle li {
  list-style: none;
  margin: inherit !important;
  ;
}

div.codePageStyle pre {
  margin: 0;
}

/*access property*/
.colmod-block ul {
  margin: 0;
  padding: 0;
}

.colmod-block {
  margin-left: 5px;
  line-height: 14px;
}

.foldable-list-container a:nth-child(2) {
  display: none;
}

.collapsible-block-unfolded, .colmod-content {
  display: none;
}

.wiki-content-table, th, td, table, tr {
  border: 1px var(--defaultText) solid;
  border-radius: 5px;
  padding: 10px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin: 15px auto;
}

.text-top {
  font-weight: bolder;
  font-size: 17px;
}

.text-number {
  font-size: 15px;
  margin-bottom: 15px;
}

.top-box, .acs-item, .acs-clear {
  font-size: 20px;
}

.class-category {
  font-weight: bold;
}

.anom-bar, .acs-hybrid-text-bar {
  padding: 9px;
  border-radius: 6px;
  margin: 5px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  overflow: visible;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin: auto;
}

.top-left-box {
  width: 13.8vw;
  padding: 10px;
  margin: 15px auto;
}

.main-class {
  float: right;
}

.text-part {
  width: 34.72vw;
  margin: auto;
}

.top-right-box {
  margin: auto;
  text-align: center;
}

.image, .enlarge, .fillpg, .accessPage img:not(.logo_heds) {
  clear: both;
  text-align: center;
  background-color: #ffffff36;
  max-width: 80%;
  margin: 15px auto;
  display: block;
}

.scp-image-block {
  text-align: center;
  padding: 15px;
  margin: 30px;
  width: 300px;
  margin: auto;
}

.scp-image-caption {
  text-align: center;
  border-top: 2px var(--defaultText) solid;
  border-bottom: 2px var(--defaultText) solid;
  margin: 15px auto;
  margin-top: 0;
}

.image-container {
  text-align: center;
}

.image-container.floatright {
  float: right;
}

.image-container.floatleft {
  float: left;
}

.image-container.floatcenter {
  margin-right: auto;
  margin-left: auto;
}

.scp-image-block.block-right {
  float: right;
  clear: right;
}

.scp-image-block.block-left {
  float: left;
  clear: left;
}

.scp-image-block.block-center {
  margin-right: auto;
  margin-left: auto;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 50fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas:
    "head head"
    "info image";
}

.bannerhead {
  grid-area: head;
  font-size: 5em;
  text-align: center;
  padding: 0;
  position: relative;
  z-index: 1;
  border-left: 12px double #fcfcfc;
  line-height: 1.2;
}

.bannerinfo {
  grid-area: info;
  font-family: 'Share Tech Mono', monospace;
  padding: 0.75rem;
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  border-left: 12px double #fcfcfc;
}

.pictures4desk {
  margin: auto;
}

.siteIcon, .areaIcon {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 30px;
  height: 17px;
  vertical-align: bottom;
  background-color: #999;
  border: solid 2px #000;
  border-radius: 0 6px 0 6px;
  color: #fff;
}

.siteIcon img, .areaIcon img {
  display: none;
}

.siteIcon .number, .areaIcon .number {
  position: absolute;
  bottom: 2px;
  right: 2px;
  line-height: 100%;
  font-size: 60%;
  font-weight: bold;
  text-shadow: #333 1px 1px;
}

iframe {
  background: white;
  width: 100%;
  height: 0;
}

.applicationFrame, #opening, blockquote blockquote {
  background: linear-gradient(to right, var(--defaultTheme) 2.5px, transparent 2.5px) 0 0,
    linear-gradient(to right, var(--defaultTheme) 2.5px, transparent 2.5px) 0 100%,
    linear-gradient(to left, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 0,
    linear-gradient(to left, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 100%,
    linear-gradient(to bottom, var(--defaultTheme) 2.5px, transparent 2.5px) 0 0,
    linear-gradient(to bottom, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 0,
    linear-gradient(to top, var(--defaultTheme) 2.5px, transparent 2.5px) 0 100%,
    linear-gradient(to top, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 100%;
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
  padding: 15px;
  margin: 15px;
}

.blockquote, .accessPage blockquote, .infoCard blockquote, .location, .scp-image-block, .countryMap, .objclassbar {
  background: linear-gradient(to right, rgba(var(--defaultTextRGB), .7) 2.5px, transparent 2.5px) 0 0,
    linear-gradient(to right, rgba(var(--defaultTextRGB), .7) 2.5px, transparent 2.5px) 0 100%,
    linear-gradient(to left, rgba(var(--defaultTextRGB), .7) 2.5px, transparent 2.5px) 100% 0,
    linear-gradient(to left, rgba(var(--defaultTextRGB), .7) 2.5px, transparent 2.5px) 100% 100%,
    linear-gradient(to bottom, rgba(var(--defaultTextRGB), .7) 2.5px, transparent 2.5px) 0 0,
    linear-gradient(to bottom, rgba(var(--defaultTextRGB), .7) 2.5px, transparent 2.5px) 100% 0,
    linear-gradient(to top, rgba(var(--defaultTextRGB), .7) 2.5px, transparent 2.5px) 0 100%,
    linear-gradient(to top, rgba(var(--defaultTextRGB), .7) 2.5px, transparent 2.5px) 100% 100%;
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
  outline: 1px solid rgba(var(--defaultTextRGB), 0.2);
  outline-offset: -6px;
  padding: 15px;
  margin: 15px
}

.objclassbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 30px;
}

.sideleft, .sidemiddle, .sideright {
  padding: 15px;
}

.sidemiddle {
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.addendum {
  border: solid 2px #999999;
  width: 84%;
  padding: 15px;
  margin: 10px auto;
}

.cdver2 {
  border-radius: 5px;
  background: white;
  text-align: center;
  margin: 15px auto;
}

.specimage {
  border-radius: 5px;
  background: white;
  text-align: center;
  margin: 15px auto;
  color: black;
  border: none !important
}

.scale {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0 1em;
}

.colorblank, textarea {
  background-color: #333;
  color: #D1D1D1;
  opacity: 0.7;
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 3px 10px;
  font-family: 'Barlow', sans-serif;
}

.icon_image img {
  width: 50px;
}

.code, .accessPage, .infoCard, .danke, .logbox, .logbox-audio, .interview, .colmod-block, .collapsible-block, div[id^="wiki-tab-"], #toc-list, .pager-no, .bannerimage .image, .email, .emailchiang, .emailokami, .scale {
  background: rgb(78 78 78 / 21%) !important;
  padding: 15px;
  margin: 7px;
}

.warning-box {
  text-align: center;
}

.warning-box .text-number {
  animation: fade 1s infinite;
  color: red;
}

@keyframes fade {
  0%, 100% {
    opacity: 0
  }

  50% {
    opacity: 1
  }
}

.yui-content {
  border: 1px solid rgb(84 84 84) !important;
}

.pager-no {
  display: block;
}

.current {
  margin: 15px
}

.target {
  margin: 5px
}

.scale {
  margin: auto;
  text-align: center;
}

.class1 {
  border: solid 1px var(--defaultText);
  padding: 15px;
  border-radius: 5px;
  margin: 10px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.item1 {
  display: inline-block;
  margin: 10px;
  padding: 15px;
}

.itemnum {
  font-size: 20px;
  font-weight: bold;
  margin: 5px
}

div.class1 .base:nth-of-type(2) {
  display: none;
}

/*special access class*/
.bothChange {
  background-color: var(--defaultText) !important;
  color: var(--defaultText) !important;
}

.colorChange {
  color: var(--defaultText) !important;
}

.borderChange {
  border-color: var(--defaultText) !important;
}

.backgroundChange {
  background-color: var(--defaultText) !important;
}

/*buttons*/
.applicationBtn {
  cursor: pointer;
  color: var(--defaultText);
  font-size: 13px;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 2px;
  border: 2px var(--defaultContrast) solid;
  outline: 1.5px var(--defaultTheme) solid;
  background-color: transparent;
  transition: 100ms all ease-out;
  padding: 10px 15px;
  margin: 15px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  display: inline-block;
}

.applicationBtn:hover {
  background-color: rgba(var(--defaultThemeRGB), .5);
  color: var(--defaultText);
}

.applicationBtn:active {
  border: 2px var(--defaultTheme) solid;
  background-color: rgba(var(--defaultThemeRGB), 1);
  color: var(--defaultContrast);
}

/*location*/
locationtag {
  opacity: 0.7;
  display: block;
}

locationdata {
  font-size: 15px;
  word-wrap: break-word;
  display: block;
  margin-bottom: 5px;
}

.location {
  width: 700px;
  margin: 20px auto;
  padding: 45px;
  background-color: #4e4e4e24 !important;
  position: relative;
}

.isUN {
  height: 40px;
  margin-left: 15px;
  display: none
}

.smallSCPLogo {
  display: block;
  position: absolute;
  bottom: 28px;
  left: 28px;
}

.locationHead {
  background: white;
  border: white 1px solid;
  color: black;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}

.locationInfo {
  float: right;
  max-width: 305px;
  margin: 15px;
  background: #343434d6;
  padding: 15px;
  border-radius: 10px;
}

.locationInfo .flag {
  margin: 20px auto;
  display: block;
}

.locationInfo .description p {
  margin: 0
}
