ele-access{
  background: #f5d546;
  color: #111;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

html#html-block-html, html#html-block-html body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: transparent;
}

/* The following rule makes iframe auto-shrink */

html#html-block-html body {
    height: auto;
}
