.militaryDash {
  display: flex;
  align-items: center;
}

.militaryDash-left {
  float: left;
  margin-right: 20px;
}

.militaryDash-right {
  float: right;
  margin-left: 20px;
}

.warheadCount, .securityOverview, .weaponDetails, .nuclearButton, .userDetails, .map {
  border: rgba(var(--defaultTextRGB), 0.2) 1px solid;
  margin: 10.5px;
  padding: 10.5px;
  width: 250px;
}

.weaponDetails {
  min-width: 200px;
}

.warheadCount {
  width: 210px !important;
  margin-right: 0;
  display: inline-block;
}

.militaryDash-middle {
  float: right;
  height: 600px;
  border: rgba(var(--defaultTextRGB), 0.2) 1px solid;
  width: 100%;
  background: #1e1e1e
}

.militaryDash-middle * {
  transition: 1000ms all ease-out;
}

.alignLeft {
  text-align: left !important;
}

/*fonts*/
.bold-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
  letter-spacing: 0.1155em;
}

.small-dash-font {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.3em;
}

.big-font {
  font-size: 50px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.1em;
}

.warheadWarn {
  font-size: 20px;
  line-height: 29px;
  letter-spacing: .07em;
  color: #db3d3d;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.greenColour {
  color: #56DF6C
}

.redColour {
  color: #db3d3d;
}

/*warhead count components*/
.securityOverview {
  padding-bottom: 13px;
}

#warheadCircle {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #db3d3d;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  margin-right: 8px;
  margin-top: 8px;
}

.warheadLines {
  border-left: rgba(var(--defaultTextRGB), .2) 1px solid;
  display: inline-block;
  height: 250px;
  margin-left: 10px;
}

/*overview components*/
.overviewDisplayWrap {
  display: flex;
  padding: 0 15px;
}

.overviewData {
  font-size: 25px;
  letter-spacing: 0.1em;
}

#securityStatus {
  font-size: 20px;
  line-height: 1.4;
  color: #56DF6C;
}

.overviewList {
  list-style-type: none;
  padding: 0 0 0 14px;
  border-left: rgba(var(--defaultTextRGB), 0.2) solid 1px;
  margin-left: 15px;
}

.site-status-text {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: rgba(var(--defaultTextRGB), 0.5);
}

site-text {
  color: #56DF6C;
  font-weight: bold;
  letter-spacing: 1px;
}

#overviewDisplayTime {
  font-size: 40px;
}

/*Globe*/
#militaryDashEarth {
  pointer-events: all;
  cursor: move;
  height: 600px;
  min-width: 200px;
}

#militaryDashEarth canvas {
  background: #1e1e1e
}

/*Nuclear Panel*/
.nuclearButton {
  background: #65313159;
  border-color: #db3d3d59;
  padding: 0;
  width: 273px;
  cursor: pointer;
  transition: 50ms all ease-out;
}

.nuclearButton:hover {
  background: #db3d3d59;
}

.nuclearButton:active {
  background: #ff0f0f59
}

.nuclearBanner {
  width: 100%;
  height: 10px;
  background-image:
    repeating-linear-gradient(-45deg,
      transparent,
      transparent 0.5rem,
      #bd2929 0.5rem,
      #bd2929 1rem);
  background-size: 200% 200%;
  animation: barberpole 30s linear infinite;
}

#nuclearText {
  letter-spacing: 0.4em;
  color: #ee555596;
}

.nuclearPanel hr {
  border-top: 1px solid #db3d3d59;
}

.nuclearHide {
  display: none;
}

#nuclearSearch {
  background: #ffffff36;
  border: none;
  margin: 15px 0;
  height: 27px;
  color: #bdbdbd;
  font-family: 'Barlow';
  letter-spacing: 1px;
  width: calc(100% - 50px);
  display: inline-block;
  padding: 5px;
}

.targetButton {
  width: 25px;
  display: inline-block;
  background: #4c4c4c5e;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.targetButton:hover {
  background: #7f7f7f5e;
}

#locationRes {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  color: #cccccc;
}

#radiationImg {
  height: 40px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}
