@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --defaultTheme: #f5d546;
  --defaultThemeRGB: 245, 213, 70;
  --defaultText: #ffffff;
  --defaultTextRGB: 255, 255, 255;
  --defaultContrast: #111111;
  --defaultBackground: #1e1e1e;
}

@-webkit-keyframes entrance {
  to, 20%, 40%, 60%, 80% {
    opacity: 1;
  }

  from, 10%, 30%, 50%, 70%, 90% {
    opacity: 0;
  }
}

@-webkit-keyframes zoom {
  0% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

#dimmer {
  background: #190404;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 4;
}

.settingsCheckbox {
  margin-right: 15px;
}

.darken {
  background: rgb(78 78 78 / 21%) !important;
  padding: 15px;
  margin: 7px;
}

.banners {
  width: 100%;
  height: 18px;
  background-image:
    repeating-linear-gradient(-45deg,
      transparent,
      transparent 0.5rem,
      #bd2929 0.5rem,
      #bd2929 1rem);
  background-size: 200% 200%;
  animation: barberpole 30s linear infinite;
  position: absolute;
  z-index: 4;
  display: none;
}

#banner2 {
  bottom: 0;
}

.nameTitle {
  word-break: break-all;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

a {
  color: var(--defaultTheme);
  margin: 5px;
}

a:hover {
  background: var(--defaultTheme);
  color: var(--defaultContrast);
  text-decoration: none;
  cursor: pointer;
  border: none;
}

#license h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  padding: 5px 15px
}

body {
  background: var(--defaultBackground) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
  display: flex;
  height: 100vh;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--defaultText);
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: 100ms all ease-out;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(var(--defaultTextRGB), 0.5);
}

#loadOverlay {
  display: none;
}

#opening {
  width: 80%;
  margin: auto !important;
  word-wrap: normal;
  text-align: center;
  padding: 3%;
}

#shot {
  margin: none;
  left: 60px;
  position: relative;
  top: 15px;
}

#cmd {
  line-height: 20px;
  letter-spacing: 1px;
  border: 1px var(--defaultTheme) solid;
  border-radius: 5px;
  font-size: 12px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  opacity: 0.8;
  word-wrap: break-word;
  animation: entrance 400ms 800ms linear backwards 1;
  position: relative;
  transition: 100ms all ease-out;
}

#shot .description {
  animation: entrance 400ms 1000ms linear backwards 1;
  transition: 100ms all ease-out;
}

.topItems {
  float: right;
  letter-spacing: 3px;
  font-size: 16px;
  background: var(--defaultTheme);
  border-radius: 5px 5px 0 0;
  padding: 5px 7px;
  color: var(--defaultContrast);
  margin: 0 20px 0 10px;
  cursor: pointer;
  animation: entrance 400ms 1000ms linear backwards 1;
}

.offTab {
  background: #333333 !important;
  color: white !important;
}

#bottomItems {
  width: 100%
}

.columnExt {
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 3px;
  background: var(--defaultTheme);
  left: 30px;
  animation: entrance 400ms 1200ms linear backwards 1;
}

.textbox #input, #callID {
  font-family: 'Barlow', sans-serif;
  border-radius: 5px;
  border: 1px var(--defaultTheme) solid;
  width: 90%;
  height: 1.829vh;
  background: #E3DCBE1A;
  padding: 20px;
  color: var(--defaultText);
  font-size: 17px;
  animation: entrance 400ms 800ms linear backwards 1;
  transition: 300ms all ease-out;
}

#callID {
  width: 50% !important;
  animation: none !important;
  border: 1px transparent solid;
  transition: none !important;
}

#callID:focus {
  outline: none;
  border: 1px var(--defaultTheme) solid;
}

textarea:focus, input:focus {
  outline: none;
}

.textbox #input:focus, #callID:focus {
  outline-width: 0;
}

.textbox #input {
  z-index: 5;
  position: absolute;
}

.description small {
  font-size: 8px;
}

#cmd blockquote, .blockquote {
  margin: 5px 0 0 30px;
}

#cmd p:not(.profile p), .wiki-content-table {
  color: white;
}

/* Iframe Panel */
#comIframe, #cmdIframe {
  background: linear-gradient(0deg, rgba(var(--defaultThemeRGB), 0.05) 0%, rgba(17, 17, 17, 0) 100%), var(--defaultBackground) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
  border: none !important;
  width: 100%;
  position: absolute;
  display: block;
}

#cmdIframe {
  z-index: 2
}

#comIframe {
  z-index: 1
}

/* title property */
h1, h3, .top-left-box {
  background-color: var(--defaultTheme);
  padding: 5px 3px;
  color: var(--defaultContrast);
  letter-spacing: 2px;
  margin: 20px 0 10px;
  border: 1px var(--defaultTheme) solid;
  border-radius: 5px;
  line-height: 1;
  word-wrap: break-word;
  text-transform: uppercase;
  transition: 100ms all ease-out;
}

h1, .top-left-box {
  font-size: 32px;
}

h3 {
  font-size: 18.72px;
  text-align: center;
  text-transform: uppercase;
}

#cmd h1, #NormalModalId h1 {
  font-size: 27px;
  line-height: 1;
  padding: 15px;
  margin: 15px;
}

.description h1 {
  padding: 0 5px 3px 5px;
}

h1, p, .columnExt::before {
  font-weight: 500;
}

/*full screen*/
:-webkit-full-screen {
  background: none;
}

.data p, #tinyDes, .columnExt::before {
  opacity: 0.3;
  margin: 0 0 10px 0;
  letter-spacing: 1px;
}

.highlight {
  color: var(--defaultTheme);
}

/*side panel*/
#shot .data {
  color: var(--defaultText);
}

/*data tag*/
#dataContain {
  height: calc(100vh - 100px);
  overflow: auto;
  width: 170px;
  right: 10px;
  top: 50px;
  position: absolute;
  float: right;
  animation: entrance 400ms 1400ms linear backwards 1;
}

smalltag, smallres {
  letter-spacing: 1px;
  font-size: 10px;
  display: block;
}

smallres {
  color: #91c788;
  display: block;
}

#transmission {
  top: 300px;
}

#general {
  top: 30px;
}

/*responsive design*/
@media screen and (max-width:728px) {
  .columnExt {
    display: none;
  }

  #shot {
    left: 0px;
    top: 0 !important;
    margin: 10px;
    width: calc(100vw - 20px);
  }

  #dataContain {
    display: none;
  }

  .textbox #input {
    width: calc(100vw - 70px);
  }

  #cmd {
    word-wrap: break-word;
  }
}

/*upload preview box*/
#previewBox {
  width: 100px;
  height: 100px;
}

#uploadBtn, .applicationBtn {
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 2px;
  border: 2px var(--defaultContrast) solid;
  outline: 1.5px var(--defaultTheme) solid;
  background-color: transparent;
  transition: 100ms all ease-out;
  padding: 10px 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#option1, #option2 {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  display: inline-block;
  margin: 15px;
  outline: 1.5px transparent solid;
}

#uploadBtn:hover, .applicationBtn:hover {
  background-color: rgba(var(--defaultThemeRGB), .5);
  color: white;
}

#uploadBtn:active, .applicationBtn:active {
  border: 2px var(--defaultTheme) solid;
  background-color: rgba(var(--defaultThemeRGB), 1);
  color: var(--defaultContrast);
}

.croppie-container {
  height: fit-content !important
}

/*general modal box*/
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  ;
}

#previewImageId .modal-content {
  animation: entrance linear backwards 2 200ms;
  max-height: 100% !important
}

.modal-content {
  animation: entrance linear backwards 2 200ms, zoom 500ms;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  padding: 26px;
  outline: 1px solid #545454;
  outline-offset: -6px;
  max-height: calc(100vh - 80px);
  width: calc(100vw - 100px);
  height: fit-content;
  background: linear-gradient(to right, var(--defaultTheme) 2.5px, transparent 2.5px) 0 0,
    linear-gradient(to right, var(--defaultTheme) 2.5px, transparent 2.5px) 0 100%,
    linear-gradient(to left, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 0,
    linear-gradient(to left, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 100%,
    linear-gradient(to bottom, var(--defaultTheme) 2.5px, transparent 2.5px) 0 0,
    linear-gradient(to bottom, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 0,
    linear-gradient(to top, var(--defaultTheme) 2.5px, transparent 2.5px) 0 100%,
    linear-gradient(to top, var(--defaultTheme) 2.5px, transparent 2.5px) 100% 100%;
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
  background-color: rgba(48, 48, 48, 0.5) !important;
}

.modal-wrap {
  overflow: auto;
  max-height: calc(100vh - 80px);
  padding: 1px;
}

.modalText {
  letter-spacing: 1px;
  padding-top: 10px;
  color: white;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#callIndicator {
  color: #e04b5a
}

/* Warning module */
#WarningModalId h1 {
  background: #e04b5a;
  color: white !important;
  border: #e04b5a solid 1px;
  padding: 15px;
  margin: 30px 15px;
}

#WarningModalId .modal-content {
  background: linear-gradient(to right, #e04b5a 2.5px, transparent 2.5px) 0 0,
    linear-gradient(to right, #e04b5a 2.5px, transparent 2.5px) 0 100%,
    linear-gradient(to left, #e04b5a 2.5px, transparent 2.5px) 100% 0,
    linear-gradient(to left, #e04b5a 2.5px, transparent 2.5px) 100% 100%,
    linear-gradient(to bottom, #e04b5a 2.5px, transparent 2.5px) 0 0,
    linear-gradient(to bottom, #e04b5a 2.5px, transparent 2.5px) 100% 0,
    linear-gradient(to top, #e04b5a 2.5px, transparent 2.5px) 0 100%,
    linear-gradient(to top, #e04b5a 2.5px, transparent 2.5px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: rgba(48, 48, 48, 0.5);
}

/*remove the scrollbar*/
#cmd {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#cmd::-webkit-scrollbar {
  width: 0;
}

#cmd::-webkit-scrollbar * {
  background: transparent;
}

#cmd::-webkit-scrollbar-thumb {
  background: transparent;
}

/*vc*/
.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.videos span h3 {
  background: none;
  color: white;
  border: none;
}

.videos span canvas {
  width: 100%;
  height: 50%;
}

.outerFrame div {
  background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
  background-clip: content-box;
}

.controlFeed, .outerFrame {
  margin: 15px;
  background: linear-gradient(to right, rgba(var(--defaultTextRGB), .7) 2.5px, transparent 2.5px) 0 0,
    linear-gradient(to right, rgba(var(--defaultTextRGB), .7) 1px, transparent 2.5px) 0 100%,
    linear-gradient(to left, rgba(var(--defaultTextRGB), .7) 1px, transparent 2.5px) 100% 0,
    linear-gradient(to left, rgba(var(--defaultTextRGB), .7) 1px, transparent 2.5px) 100% 100%,
    linear-gradient(to bottom, rgba(var(--defaultTextRGB), .7) 1px, transparent 2.5px) 0 0,
    linear-gradient(to bottom, rgba(var(--defaultTextRGB), .7) 1px, transparent 2.5px) 100% 0,
    linear-gradient(to top, rgba(var(--defaultTextRGB), .7) 1px, transparent 2.5px) 0 100%,
    linear-gradient(to top, rgba(var(--defaultTextRGB), .7) 1px, transparent 2.5px) 100% 100%;
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
  outline: 1px solid rgba(var(--defaultTextRGB), 0.2);
  outline-offset: -6px;
  padding: 15px;
}

/*pulse credit: https://codepen.io/comehope/pen/erRzzR*/
.pulse {
  margin: 40px auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.pulse {
  width: calc(0.5em * 2);
  height: calc(0.5em * 2);
  background-color: var(--defaultTheme);
  border-radius: 50%;
  box-shadow: 0 0 0 calc(0.5em - 0.4em) black,
    0 0 0 0.5em var(--defaultTheme);
  position: relative;
}

.pulse::before,
.pulse::after {
  content: '';
  position: absolute;
  width: calc(0.5em * 2 * 2);
  height: calc(0.5em * 2 * 2);
  border: 2px solid var(--defaultTheme);
  border-radius: 50%;
  animation: pulse 2s ease-out infinite;
}

.pulse::after {
  animation-delay: 1s;
}

.loadText {
  text-align: center;
  opacity: 0.7;
}

@keyframes pulse {
  from {
    transform: scale(1);
    filter: opacity(0.9);
  }

  to {
    transform: scale(2);
    filter: opacity(0);
  }
}
